body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
  }

  .form1 {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 15px;
    /* left: 0; */
    right: 210px;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    width: 1000px;
    border-radius: 10px;
  }
  .input1 {
    cursor: pointer;
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    
  }
  .input1:focus {
    outline: none;
  }
  .form1 > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    cursor: pointer;
  }

  .messages1 {
    list-style-type: none;
    background-color: rgb(248, 239, 239);
    width: 990px;
    height: 630px;
    /* position: absolute; */
    top: 3%;
    left: 22%;
    margin: 0 auto;
    border-radius: 10px;
  }
  .messages1 > li {
    padding: 0.5rem 1rem;
  }
  .messages1 > li:nth-child(odd) {
    background: #efefef;
  }
  .room1 {
    position: absolute;
  }
  .boardChat {
    background-color: rgb(248, 239, 239);
    width: 990px;
    height: 630px;
    position: absolute;
    top: 3%;
    left: 22%;
    margin: 0 auto;
    border-radius: 10px;
  }
  .title1 {
    text-align: center;
  }